body{
	background:#e7e7e7;
}

h1{
	color:red;
}

table{
	width:100%;
	border-collapse:collapse;
}

td,th{
	text-align:center;
	padding:10px;
}

th{
	background:#3d6061;
	color:white;
}

tr:nth-child(odd){
	background:#a3c1bc;
}
tr:nth-child(even){
	background:#efeecc;
}

ul{
	list-style-type:none;
	overflow:hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}

li{
	float:left;
}

ul li a{
	text-decoration:none;
	color:#8b0000;
	display:block;
	padding: 14px 16px;

}

ul li a.active{
	background-color:#8A0000;
	color:white;
}

ul li a:hover:not(.active){
	background-color:#5D0000;
	color:white;
}
